<!-- register -->
  
  
<section class="h-100 gradient-form" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black" style="background-color: #0014FF;">
            <div class="row g-0">
              <div class="col-lg-6 gradient-custom-3" style="border-top-left-radius: 3%; border-bottom-left-radius: 3%; ">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043273-animal-avatar-mutton-sheep_113242.png"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">We are the Koyun Team</h4>
                  </div>
  
                  <form [formGroup]="registerForm" >
                    <p>Please login to your information</p>
  
                    <div class="form-outline mb-4">
                      <input formControlName="firstName" type="text" id="form1Example11" class="form-control"
                        placeholder="Enter First Name" />
                    </div>
  
                    <div class="form-outline mb-4">
                      <input formControlName="lastName" type="text" id="form1Example11" class="form-control"
                        placeholder="Enter Last Name" />
                    </div>
                    
                    <div class="form-outline mb-4">
                      <input formControlName="email" type="email" id="form2Example11" class="form-control"
                        placeholder="Enter Email" />
                    </div>
  
                    <div class="form-outline mb-4">
                      <input formControlName="password" #y type="password" id="form2Example22" class="form-control" placeholder="Enter Password"/>
                    </div>
                   
                    <div class="text-center pt-1 mb-2 pb-1">
                      <button (click)="y.type=y.type=='password'?'text':'password'" type="button" class="btn btn-outline-primary" >Show Password</button>
                    </div>
                   
                    <div class="text-center pt-1 mb-2 pb-1">
                      <button type="button reset" class="btn btn-outline-primary" (click)="register()" >Register</button>
                    </div>
                    
                    <div class="text-center pt-1 mb-2 pb-1">
                      <button type="button" class="btn btn-outline-danger" (click)="cancel()" >Cancel</button>
                    </div>

                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2" style="border-top-right-radius: 3%; border-bottom-right-radius: 3%; text-align: center;">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4" style="color:black">We are the KOYUN TEAM</h4>
                  <h5><p class="small mb-0" style="color:black; font-family: cursive;">If you want to be a part of this, you can register by filling out your information on this screen.</p></h5>
                  <hr style="color: black;">
                  <h5 style="color:black; " >THANK YOU!</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>