.gradient-custom-2 {
  
   
    background: -webkit-linear-gradient(to right, #00FFF6, #00E7FF, #009EFF, #0014FF);
    
    
    background: linear-gradient(to right, #00FFF6, #00E7FF, #009EFF, #0014FF);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    .gradient-custom-3 {
  
   
        background: -webkit-linear-gradient(to left, #00FFF6, #00E7FF, #009EFF, #0014FF);
        
        
        background: linear-gradient(to left, #00FFF6, #00E7FF, #009EFF, #0014FF);
        }
        
        @media (min-width: 768px) {
        .gradient-form {
        height: 100vh !important;
        }
        }
        @media (min-width: 769px) {
        .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
        }
        }

        button {
            /* Önceki css kodları */
            transition: transform 0.5s ease;
          }
          
          button:hover {
            transform: scale(1.1); /* Buton büyütülür */
          }
          
          button:active {
            transform: scale(0.9); /* Buton küçültülür */
          }
          
          button[draggable] {
            cursor: move; /* Fare işaretçisi "taşı" olarak değiştirilir */
          }