<div class="card text-center mt-2 mb-4" style="background-color: #515570;  color: white;
border-top-left-radius: 30px; border-top-right-radius: 30px; border-bottom-left-radius: 30px ; border-bottom-right-radius: 30px ;">
    <div class="card-header">
      <h5><b>Send KYC</b> </h5>
    </div>
    <div class="card-body">
      <form [formGroup]="transferKYCformGroup" action="" *ngIf="transferKYCformGroup" >
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <label for="transferKYCValue"> How many KYC will you send? </label>
                    <div class="form-group mb-3">
                        <input type="number" id="transferKYCValue" formControlName="transferKYCValue" class="form-control"
                            placeholder="Enter Value" />
                    </div>
                </div>
                <div class="col-6">
                    <label for="adress"> Enter Recipient SHA-256 Address </label>
                    <div class="form-group mb-3">
                        <input type="text" id="adress" formControlName="adress" class="form-control"
                            placeholder="Enter Adress" />
                    </div>
                </div>
                <button class="btn btn-fill btn-success" type="reset" (click)="sendKYC()"  >Send To KYC</button>
            </div>
        </div>
    </form>
    </div>
  </div>



  <div class="container ">
    <div class="row">
        <div *ngIf="dataLoaded==false" class="spinner-border text-success mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="container p-4 m3" style=" background-color: #515570; border-radius: 20px;">
    <div class="row">
        
            <table *ngIf="dataLoaded==true" class="table" style="color:white;">
                <thead>
                    <tr>
                        <th><b>Type</b> </th>
                        <th> <b>Carbon</b> </th>
                        <th><b>Add to Cart</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let garbage of garbages">
                        
                        <td> {{garbage.type}} </td>
                        <td> {{garbage.carbon}} </td>
                        <td>
                            <button (click)="addToCart(garbage)" (click)="addToCarbon(garbage)" class="btn btn-success">
                                Add to Cart </button>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-5 ">
            <div class="card text-center mt-4 " style="background-color: #515570; border-radius: 20px; color: white;" >
                <h5 class="card-header"><b>Here you can convert your Carbons to KYC</b></h5>
                <div class="card-body">
                    <div class="container " style="text-align: left;">
                        <div class="row">
                                    <div class="col">    
                                    <table *ngIf="dataLoaded==true" class="table" style="color: white;">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Quantity</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cartItem of cartItems">
                                    <td> {{cartItem.garbage.type}}</td>
                                    <td> {{cartItem.quantity}} </td>
                                    <button type="button" class="btn">
                                        <span (click)="removeFromCart(cartItem.garbage)" class="badge bg-danger"> Delete </span>
                                    </button>
                            </tbody> 
                        </table>
                        <div class="container text-center"><button class="btn btn-success  " (click)="getByCarbonValue()">Confirm {{totalCarbon}} Carbon Orders</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
</div>
        <div class="col-7">
            <div class="card text-center mt-4 " style="background-color: #515570; border-radius: 20px; color: white;" >
                <h5 class="card-header"><b>Here you can convert your Carbons to KYC</b></h5>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <table class="table" style="color: white; ">
                                        <tr>
                                            <th>Carbon To KYC Value</th>
                                        </tr>
                                       <hr>
                                    <tr *ngFor="let carbontokyc of carbonToKyc">
                                        <td style="font-size: x-large;">{{carbontokyc.carbontoKYC}}</td>
                                    </tr>
                                </table>
                                <div class="btn btn-success" (click)="convertKYC()">Convert Carbon To KYC</div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>

<hr>

