
<div class="mb-3">
    <label for="filterText" class="form-label">Search Person</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Enter the Person Name">
  </div>

  <div class="container ">
    <div class="row">
        <div *ngIf="dataLoaded==false" class="spinner-border text-success mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
</div>

<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>PersonID</th>
            <th>CustomerID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Identity Number</th>
            <th>carbon</th>
            <th>kyc</th>
            <th>sha256</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personDetail of personDetailDto | filterPersonPipe:filterText ">
            <td>{{personDetail.personId}}</td>
            <td>{{personDetail.customerId}}</td>
            <td>{{personDetail.firstName}}</td>
            <td>{{personDetail.lastName}}</td>
            <td>{{personDetail.identityNumber}}</td>
            <td>{{personDetail.carbon}}</td>
            <td>{{personDetail.kyc}}</td>
            <td>{{personDetail.sha256}}</td>
        </tr>
    </tbody>
</table>